body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

#column1 {
  max-width: 250px;
  width: 100%;
  margin-bottom: 20px;
}

#column2 {
  flex: 1;
  min-width: 700px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.reserve-button {
  display: none;
}

.reserve-button.correct {
  background-color: #4CAF50;
}

.reserve-button.wrong {
  background-color: #FF0000;
}

.reserve-button:hover {
  background-color: #0056b3;
}

.reserve-button:active {
  background-color: #003366;
}

.map-container {
  position: relative;
  width: 700px; /* Set the width of the map container to match the PNG image width */
  height: 795px; /* Set the height of the map container to match the PNG image height */
}

.buttons-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.map-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007BFF;
  pointer-events: auto;
}

/* Add updated coordinates for each button on the map using pixels */
.button1 {
  top: 182px;
  left: 597px;
}

.button2 {
  top: 262px;
  left: 192px;
}

.button3 {
  top: 247px;
  left: 587px;
}

.button4 {
  top: 212px;
  left: 385px;
}

.button5 {
  top: 187px;
  left: 283px;
}

.button6 {
  top: 452px;
  left: 390px;
}

.button7 {
  top: 190px;
  left: 703px;
}

/* Add media queries for responsive design */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  #column1 {
    max-width: 100%;
  }

  #column2 {
    min-width: 100%;
  }

  .map-container {
    width: 100%; /* Adjust map container width for smaller screens */
    height: auto; /* Allow the height to adjust automatically based on image proportions */
  }

  .map-button {
    width: 15px;
    height: 15px;
  }

  /* Adjust button coordinates for smaller screens */
  .button1 {
    top: 12%;
    left: 23%;
  }

  .button2 {
    top: 8%;
    left: 36%;
  }

  .button3 {
    top: 20%;
    left: 49%;
  }

  .button4 {
    top: 13%;
    left: 54%;
  }

  .button5 {
    top: 12%;
    left: 70%;
  }

  .button6 {
    top: 26%;
    left: 60%;
  }

  .button7 {
    top: 27%;
    left: 18%;
  }
}
#reserves {
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  margin-bottom: 10px;
}